.logo{
    height: 80px;
    width: 80px;
}
.banner1{
height: 400px;
width: 1299px;

}
.banner2{
    height: 400px;
    width: 1299px;
    
    }
.banner3{
    height: 400px;
    width: 1299px;
    
    }
    .jogo1{
        height: 99px;
        width: 150px;

    }
    .card{
        height: 350px;
        width: 153px;

        
    }